<html lang="en">
	<head>
		<title>
			Show_Blacklist
		</title>
		<meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
</head>
<body>
<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @blacklist.user %>
</p>

<p>
  <strong>Date:</strong>
  <%= @blacklist.date %>
</p>

<%= link_to 'Edit', edit_blacklist_path(@blacklist) %> |
<%= link_to 'Back', blacklists_path %>
</body>
