<!doctype html>
<html lang="en">
	<head>
		<title>
			Dumpsters
		</title>
		<meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
</head>


<body>

<div class="masthead">
  <h1><%= link_to "Il Arrabiato", root_path %></h1>
  <div class="topnav">
    <%= form_tag(posts_path, :method => "get", id: "search-form") do %>
      <%= text_field_tag :search, params[:search], placeholder: "Search Posts" %>
      <%= submit_tag "Search" %>
      <%= link_to "Log Out", destroy_user_session_path, :method => 'delete'%>
    <% end %>
  </div>
</div>

<div class="new_post-section" style="height: 500px">
  <p id="notice"><%= notice %></p>
  <h2 align="center">Dumpsters</h2>
  <br>
  <div align="center">
    <table>
      <thead>
      <tr>
        <th>Post</th>
        <th>Date</th>
        <th colspan="3"></th>
      </tr>
      </thead>

      <tbody>
      <% @dumpsters.each do |dumpster| %>
        <tr>
          <td><%= dumpster.post.title %></td>
          <td><%= dumpster.date %></td>
          <td><%= link_to 'Show ', dumpster %></td>
          <td><%= link_to 'Edit', edit_dumpster_path(dumpster) %></td>
          <td><%= link_to 'Destroy', dumpster, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
      </tbody>
    </table>

    <br>

    <%= link_to 'New Dumpster', new_dumpster_path %>|
    <%= link_to 'Home', root_path %>
  </div>
  </div>
</body>