<p id="notice"><%= notice %></p>

<body>

<div class="masthead">
  <h1><%= link_to "Il Arrabiato", root_path %></h1>
  <div class="topnav">
    <%= form_tag(posts_path, :method => "get", id: "search-form") do %>
      <%= text_field_tag :search, params[:search], placeholder: "Search" %>
      <%= submit_tag "Search" %>
      <%= link_to "Log Out", destroy_user_session_path, :method => 'delete'%>
    <% end %>
  </div>
</div>


<h2>Follows</h2>

<%= link_to 'New Follow', new_follow_path %> |
<%= link_to 'Home', root_path %>

<br>

<div class="postviewer" style="float: left;">
  <div class="postview">
    <post><% @posts.each do |post| %></post>
        <% if Dumpster.find_by_post_id(post) == nil %>

          <h2><%= link_to post.user.name, profile_path(post.user) %></h2>
          <h3><%= link_to post.title, post_path(post) %></h3>
          <p><%= post.date %></p>
          <p><%= post.location %></p>
          <h5><%= post.description %></h5>
          <%if post.avatar.present? %>
            <%= image_tag post.avatar.url(:medium) %>
          <%end %>
          <div>
            <%= pluralize(post.vote.where(vote: true).count, "upvotes") %>
            <%= pluralize(post.vote.where(vote: false).count, "downvotes") %>
          </div>
          <div >
            <%= button_to '+1', upvote_post_path(post), method: :post %>
            <%= button_to '-1', downvote_post_path(post), method: :post %>
          </div>
          <%= button_to "Follow", followpost_post_path(:id=>post.id), method: :post %>
          <%= button_to "Mark as Innapropiate", followpost_post_path(:id=>post.id), method: :post %>


          <h4>COMMENTS</h4>
          <div>
            <%= button_to "Comment", ncomment_post_path(:id=>post.id, :comment=>  'comment by'), method: :post %>
          </div>


          <% post.comment.each do |comment| %>
            <p style="float: left;"><%= link_to comment.user.name, profile_path(comment.user) %></p>
            <p ><%= comment.comment %></p >
            <br style="clear: left">
          <% end %>
        <% end %>


        <div class="separator">
          <br>
        </div>
      <% end %>
      </div>
</div>

<div align="center" class="user_container">
  <User><b><%= current_user.name %></b></User>
  <%if current_user.profile.avatar.present? %>
    <%= image_tag current_user.profile.avatar.url(:thumb) %>
  <%else%>
    <%=image_tag "default-user1.png", :alt => "default", :size=> "100x100"%>
  <%end %>
  <button style="width: 100px">
    <%= link_to 'Reclaim!', new_post_path%>
  </button>
</div>

<div class ="wall_options">
  <div align="center" class="options">
    <div>
      <%if current_user.id == nil %>
        <%= link_to 'Your Profile', root_path%>
      <%elsif Profile.find_by_user_id(current_user.id) == nil%>
        <%= link_to 'Your Profile', new_profile_path(user_id: current_user.id)%>
      <%else %>
        <%= link_to 'Your Profile', profile_path(current_user.id)%>
      <% end %>
    </div>
    <div>
      <%= link_to 'Followed', follows_path%>
    </div>
    <div>
      <% if Admin.find_by_user_id(current_user.id) != nil%>
        <%= link_to 'Innapropiates',innapropiates_path%>
      <% end %>
    </div>
    <div>
      <% if Admin.find_by_user_id(current_user.id) != nil%>
        <%= link_to 'Dumpster', dumpsters_path %>
      <% end %>
    </div>
    <div>
      <% if Admin.find_by_user_id(current_user.id) != nil%>
        <%= link_to 'Blacklist', blacklists_path%>
      <% end %>
    </div>
  </div>
</div>