<html lang="en">
	<head>
		<title>
			Show_Profile
		</title>
		<meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
</head>
<body>
<h1>Il Arrabiato</h1>

<p id="notice"><%= notice %></p>

<p>
  <strong>User name:</strong>
  <%= @profile.user.name %>
</p>

<p>
  <strong>Picture:</strong>
  <%= @profile.picture %>
</p>

<p>
  <strong>Biography:</strong>
  <%= @profile.biography %>
</p>

<p>
  <strong>City:</strong>
  <%= @profile.city %>
</p>

<p>
  <strong>Country:</strong>
  <%= @profile.country %>
</p>

<% if @profile.user.id == current_user.id%>
  <button>
    <%= link_to 'New Post', new_post_path %>
  </button>
<% end %>


<% if Admin.find_by_user_id(current_user.id) != nil%>
  <button>
    <%= link_to 'View Dumpster', dumpsters_path %>
  </button>

  <button>
    <%= link_to 'View Blacklist ', blacklists_path %>
  </button>
<% end %>

<div>
  <% if @profile.user.id == current_user.id%>
    <%= link_to 'Edit', edit_profile_path(@profile) %>|

    <%= link_to 'Log Out', destroy_user_session_path %>
  <% end %>
</div>

<div class="postviewer" style="float: left;">
  <div class="postview">
    <% @posts.each do |post| %>

      <h1><%= link_to post.user.name, profile_path(post.user) %></h1>
      <h2><%= post.title %></h2>
      <p><%= post.date %></p>
      <p><%= post.location %></p>
      <h5><%= post.description %></h5>
      <div class="fakeimg" style="height:200px;">Image</div>
      <p><%= post.open%></p><p><%= post.solved %></p>
      <h4>COMMENTS</h4>

      <button onclick="togglecomments()">View Comments</button>

      <div class = "commentviewer" >
        <% @comments.each do |comment| %>
          <h2 style="float: left;"><%= link_to comment.user.name, profile_path(comment.user) %></h2>
          <p ><%= comment.comment %></p >
          <br style="clear: left">
        <% end %>
      </div>
    <% end %>
    </br>
  </div>
</div>
</body>
