<html lang="en">
	<head>
		<title>
			Show_Profile
		</title>
		<meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
</head>
<body>
<h1>Il Arrabiato</h1>

<p id="notice"><%= notice %></p>

<p>
  <strong>User(ID):</strong>
  <%= @profile.user %>
</p>

<p>
  <strong>Picture:</strong>
  <%= @profile.picture %>
</p>

<p>
  <strong>Biography:</strong>
  <%= @profile.biography %>
</p>

<p>
  <strong>City:</strong>
  <%= @profile.city %>
</p>

<p>
  <strong>Country:</strong>
  <%= @profile.country %>
</p>

<button>
<%= link_to 'New Post', new_post_path %>
</button>

<button>
<%= link_to 'View Dumpster', dumpsters_path %>
</button>

<button>
<%= link_to 'View Blacklist ', blacklists_path %>
</button>

<div>
  <%= link_to 'Edit', edit_profile_path(@profile) %> |
  <%= link_to 'Log Out', destroy_user_session_url %>
</div>
</body>
