<html lang="en">
	<head>
		<title>
			Show_Profile
		</title>
		<meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
</head>
<body>
<h1>Il Arrabiato</h1>

<p id="notice"><%= notice %></p>

<p>
  <strong>User name:</strong>
  <%= @profile.user.name %>
</p>

<p>
  <strong>Picture:</strong>
  <%= @profile.picture %>
</p>

<p>
  <strong>Biography:</strong>
  <%= @profile.biography %>
</p>

<p>
  <strong>City:</strong>
  <%= @profile.city %>
</p>

<p>
  <strong>Country:</strong>
  <%= @profile.country %>
</p>
<p>
  <strong>Role:</strong>
  <%if (Admin.find_by_user_id(@profile.id)==nil)%>
  User
  <%elsif(Admin.find_by_user_id(@profile.id).super==false) %>
    Admin
  <%else %>
    Super Admin
  <%end%>
</p>

<% if @profile.user.id == current_user.id%>
  <button>
    <%= link_to 'New Post', new_post_path %>
  </button>
<% end %>


<% if Admin.find_by_user_id(current_user.id) != nil%>
  <button>
    <%= link_to 'View Dumpster', dumpsters_path %>
  </button>

  <button>
    <%= link_to 'View Blacklist ', blacklists_path %>
  </button>
<% end %>

<div>
  <% if @profile.user.id == current_user.id%>
    <%= link_to 'Edit', edit_profile_path(@profile) %>|

    <%= link_to 'Log Out', destroy_user_session_path %>|
  <% end %>

  <%= link_to 'Home', root_path %>
</div>

<script>
    function HideShow() {
        var x = document.getElementById("comments");
        var y = document.getElementById("comment_button");
        if (x.style.display === "none") {
            x.style.display = "block";
            y.innerText = 'Hide'
        } else {
            x.style.display = "none";
            y.innerText = 'View Comments'
        }
    }
</script>


<div class="postviewer" style="float: left;">
  <div class="postview">
    <% @posts.each do |post| %>

      <h1><%= link_to post.user.name, profile_path(post.user) %></h1>
      <h2><%= post.title %></h2>
      <p><%= post.date %></p>
      <p><%= post.location %></p>
      <h5><%= post.description %></h5>
      <div class="fakeimg" style="height:200px;">Image</div>
      <p><%= post.open%></p><p><%= post.solved %></p>
      <div><%= pluralize(post.vote.where(vote: true).count, "upvotes") %></div>
      <div><%= pluralize(post.vote.where(vote: false).count, "downvotes") %></div>
      <p style="float: left;"><%= button_to '+1', upvote_post_path(post), method: :post %></p><p><%= button_to '-1', downvote_post_path(post), method: :post %></p>
      <p style="float: left;"><%= post.open%></p><p ><%= post.solved %></p>


      <h4>COMMENTS</h4>

      <button id="comment_button" onclick="HideShow()">View Comments</button>

      <div class = "commentviewer"  id="comments">
        <% @comments.each do |comment| %>
          <h2 style="float: left;"><%= link_to comment.user.name, profile_path(comment.user) %></h2>
          <p ><%= comment.comment %></p >
          <br style="clear: left">
        <% end %>
      </div>
    <% end %>
    </br>
  </div>
</div>
</body>
