<!doctype html>
<html lang="en">
	<head>
		<title>
			New_Post
		</title>
		<meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
</head>
<body>

<div class="masthead">
  <h1><%= link_to "Il Arrabiato", root_path %></h1>
  <div class="topnav">
    <%= form_tag(posts_path, :method => "get", id: "search-form") do %>
      <%= text_field_tag :search, params[:search], placeholder: "Search Posts" %>
      <%= submit_tag "Search" %>
      <%= link_to "Log Out", destroy_user_session_path, :method => 'delete'%>
    <% end %>
  </div>
</div>

<div class= "new_post-section" style="height: 500px">
  <h2 align="center">New Post</h2>
  <div align="center">
    <%= render 'form', post: @post %>
    <%= link_to 'Back', root_url %>
  </div>
</div>
</body>
