<!DOCTYPE html>
<html lang = en>
<head>
  <title>Il arrabiato</title>
</head>

<body>
<div class="masthead">
  <h1>Il Arrabiato</h1>
  <div class="topnav">
    <input type="text" placeholder="Search..">
    <%= link_to "Log Out", destroy_user_session_path, :method => 'delete'%>
    <img src= "/project/default-user1.png" alt="generic-user"> <!-- Don't know why is not working -->
  </div>
</div>


<script>
    function HideShow() {
        var x = document.getElementById("comments");
        var y = document.getElementById("comment_button");
        if (x.style.display === "none") {
            x.style.display = "block";
            y.innerText = 'Hide'
        } else {
            x.style.display = "none";
            y.innerText = 'View Comments'
        }
    }
</script>
<div class="postviewer" style="float: left;">
  <div class="postview">
  <% @posts.each do |post| %>

    <h1><%= link_to post.user.name, profile_path(post.user) %></h1>
    <h2><%= post.title %></h2>
    <p><%= post.date %></p>
    <p><%= post.location %></p>
    <h5><%= post.description %></h5>
    <div class="fakeimg" style="height:200px;">Image</div>
    <p><%= post.open%></p><p><%= post.solved %></p>
    <h4>COMMENTS</h4>
    <button id="comment_button" onclick="HideShow()">View Comments</button>

    <div class = "commentviewer" id ="comments">
        <% @comments.each do |comment| %>
            <h2 style="float: left;"><%= link_to comment.user.name, profile_path(comment.user) %></h2>
            <p ><%= comment.comment %></p >
            <br style="clear: left">
        <% end %>
    </div>
    <% end %>
  </br>
  </div>
</div>

<div id="user_container">
  <%= current_user.name %>
  <%= link_to 'Reclaim!', new_post_path%>
</div>

<div id ="wall_options">
  <div class="options">
    <!--    <div>-->
    <%#= link_to 'Your Posts', new_post_path%>
    <!--    </div>-->
    <div>
      <%= link_to 'Your Profile', profile_path(id: current_user.id)%>
    </div>
    <div>
      <% if Admin.find_by_user_id(current_user.id) != nil%>
        <%= link_to 'Dumpster', dumpsters_path %>
      <% end %>
    </div>
    <div>
      <% if Admin.find_by_user_id(current_user.id) != nil%>
        <%= link_to 'Blacklist', blacklists_path%>
      <% end %>
    </div>
  </div>
</div>
<!--<table id = "Posttables">-->
<!--  <thead>-->
<!--    <tr>-->
<!--      <th>User</th>-->
<!--      <th>Title</th>-->
<!--      <th>Description</th>-->
<!--      <th>Open</th>-->
<!--      <th>Location</th>-->
<!--      <th>Solved</th>-->
<!--      <th>Date</th>-->
<!--      <th colspan="8"></th>-->
<!--    </tr>-->
<!--  </thead>-->
<!--  Posts-->
<!--  <tbody>-->
    <%# @posts.each do |post| %>
<!--    <tr>-->
<!--      <td><%#= link_to post.user.name, profile_path(post.user) %></td>-->
<!--      <td><%#= post.title %></td>-->
<!--      <td><%#= post.description %></td>-->
<!--      <td><%#= post.open %></td>-->
<!--      <td><%#= post.location %></td>-->
<!--      <td><%#= post.solved %></td>-->
<!--      <td><%#= post.date %></td>-->

<!--      <td><%#= link_to 'Comment', new_comment_path(post_id: post.id)%></td>-->

      <!--if the user is logged in-->
<!--      <td><%#= link_to 'Show Post', post %></td>-->


<!--      <table id = "Commenttable">-->
<!--        <thead>-->
<!--          <tr>-->
<!--            <th>Comments</th>-->
<!--            <th colspan="2"></th>-->
<!--          </tr>-->
<!--        </thead>-->
<!--        <tbody>-->
          <%# @comments.each do |comment| %>
<!--            <tr>-->
<!--              <td><%#= link_to comment.user.name, profile_path(comment.user) %></td>-->
<!--              <td><%#= comment.comment %></td>-->
<!--            </tr>-->
          <%# end %>
<!--        </tbody>-->
<!--      </table>-->

    <%# end %>
<!--    </tr>-->
<!--  </tbody>-->
<!--</table>-->
