<!DOCTYPE html>
<html lang = en>
<head>
  <title>Il arrabiato</title>
</head>

<script>
    function HideShow() {
        var x = document.getElementById("comments");
        var y = document.getElementById("comment_button");
        if (x.style.display === "none") {
            x.style.display = "block";
            y.innerText = 'Hide Comments'
        } else {
            x.style.display = "none";
            y.innerText = 'View Comments'
        }
    }

    function Search() {
        var x = document.getElementById("Searchbar").value;
        var y = document.getElementsByTagName("test");
        alert(y[0].innerText)
    }


</script>


<body>
<div class="masthead">
  <h1><%= link_to "Il Arrabiato", root_path %></h1>
  <div class="topnav">
    <%= form_tag(posts_path, :method => "get", id: "search-form") do %>
      <%= text_field_tag :search, params[:search], placeholder: "Search" %>
      <%= submit_tag "Search" %>
    <% end %>
    <%#= form_tag(posts_path, :method => "get", id: "search-form") do %>
      <%#= text_field_tag :search, params[:search], placeholder: "Search User" %>
      <%#= submit_tag "SearchUser" %>
    <%# end %>
    <%= link_to "Log Out", destroy_user_session_path, :method => 'delete'%>

  </div>
</div>


<div class="postviewer" style="float: left;">
  <div class="postview">
  <post><% @posts.each do |post| %></post>

    <h2><%= link_to post.user.name, profile_path(post.user) %></h2>
    <h3><%= link_to post.title, post_path(post) %></h3>
    <p><%= post.date %></p>
    <p><%= post.location %></p>
    <h5><%= post.description %></h5>
    <% if post.post_img.nil? %>
      <p><%=image_tag(post.post_img, class:"image-responsive", :size =>"220x150") %></p>
    <% end %>
    <%# if post.latitude.nil? or post.longitude.nil? %>
<!--        <p><%#= image_tag "https://maps.googleapis.com/maps/api/staticmap?zoom=17&size=400x300&center=#{post.latitude},#{post.longitude}&key=#{AIzaSyDpeoMD25ptcMtu7D1njX9bp0xyPBjW-vA}", alt: "Map" %></p>-->
    <%# end %>


    <div><%= pluralize(post.vote.where(vote: true).count, "upvotes") %></div>
    <div><%= pluralize(post.vote.where(vote: false).count, "downvotes") %></div>
    <p style="float: left;"><%= button_to '+1', upvote_post_path(post), method: :post %></p><p><%= button_to '-1', downvote_post_path(post), method: :post %></p>
    <p style="float: left;"><%= post.open%></p><p ><%= post.solved %></p>


    <h4>COMMENTS</h4>
      <div>
        <%= button_to "Comment", new_comment_path(post_id:  post.id) %>
      </div>


      <% post.comment.each do |comment| %>
          <p style="float: left;"><%= link_to comment.user.name, profile_path(comment.user) %></p>
          <p ><%= comment.comment %></p >
          <br style="clear: left">
      <% end %>

    <div class="separator">
        <br>
    </div>
    <% end %>
  </div>
</div>

<div align="center" class="user_container">
  <User><b><%= current_user.name %></b></User>
  <button style="width: 100px">
    <%= link_to 'Reclaim!', new_post_path%>
  </button>
</div>

<div class ="wall_options">
  <div align="center" class="options">
    <div>
      <%if current_user.id == nil %>
        <%= link_to 'Your Profile', root_path%>
      <%elsif Profile.find_by_user_id(current_user.id) == nil%>
        <%= link_to 'Your Profile', new_profile_path(user_id: current_user.id)%>
      <%else %>
        <%= link_to 'Your Profile', profile_path(current_user.id)%>
      <% end %>
    </div>
    <div>
      <%= link_to 'Followed', follows_path%>
    </div>
    <div>
      <% if Admin.find_by_user_id(current_user.id) != nil%>
        <%= link_to 'Innapropiates',innapropiates_path%>
      <% end %>
    </div>
    <div>
      <% if Admin.find_by_user_id(current_user.id) != nil%>
        <%= link_to 'Dumpster', dumpsters_path %>
      <% end %>
    </div>
    <div>
      <% if Admin.find_by_user_id(current_user.id) != nil%>
        <%= link_to 'Blacklist', blacklists_path%>
      <% end %>
    </div>
    <div>
      <% if Admin.find_by_user_id(current_user.id) != nil%>
        <%= link_to 'User managment', users_path%>
      <% end %>
    </div>
  </div>
</div>
</body>
